.build
build
.mbed
projectfiles
*.py*
.idea/
venv

BUILD
mbed-os/
cmake_build
cmake-build-debug
.mbedbuild

docs/
docs/html
docs/latex
libs/
micro-ros/

.DS_STORE
*.ps1
Makefile

.vscode/c_cpp_properties.json
.vscode/settings.json