.build
.mbed
projectfiles
*.py*
.idea/
.vscode

BUILD
mbed-os/
cmake_build
.mbedbuild

micro-ros/include
micro-ros/libmicroros.a
micro-ros/micro_ros_dev
micro-ros/micro_ros_src
micro-ros/mbed_toolchain.cmake
docs/

.DS_STORE